/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {

  --main-font-family: 'IBM Plex mono-bold', sans-serif;
  --main-font-size: 18px;
  --main-line-height: 130%;
  --main-title-color: #DB00FF;
  --main-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --background-color: #000028;
  --accent-color: #FF0070;
  --accent-color-secondary: #FF0070;
  --text-color: #F1B2CE;
  --text-color-secondary: #000028;
  --button-hover-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --horizontal: 10px;
  --vertical: 40px;
  --gap: 50px;
}

@media (width >= 768px) {
  :root {
    --horizontal: 20px;
    --vertical: 60px;
    --gap: 80px;

    --main-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}